* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/clear-air-fly-fantastic-travel.jpg);
    display: flex;
    justify-content: center;
}

.root {
    width: 100%;
}

.tittle {
    text-align: center;
    padding-top: 30px;
    color: #201f10;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin-bottom: 50px;
}

.days-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.clickable {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border: 1px solid purple;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gold;
    background-color: rgb(33, 175, 231, 0.1);
    cursor: pointer;
}

.clickable:hover {
    background-color: rgb(245, 6, 6, 0.1);
}

.widget-wrapper {
    padding: 10px;
    display: flex;
    text-align: center;
    display: none;
}

.wrapper {
    width: 20%;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wind-direction-arrow {
    width: 40%;
    margin: 25px auto;
}

.wind-direction-arrow img {
    width: 80%;
}

.west {
    transform: rotate(180deg);
}

.north {
    transform: rotate(-90deg);
}

.north-east {
    transform: rotate(-45deg);
}

.north-west {
    transform: rotate(-135deg);
}

.south {
    transform: rotate(90deg);
}

.south-west {
    transform: rotate(135deg);
}

.south-east {
    transform: rotate(45deg);
}