* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/clear-air-fly-fantastic-travel.jpg);
    display: flex;
    justify-content: center;
}

.root {
    width: 100%;
}

.tittle {
    text-align: center;
    padding-top: 30px;
    color: #201f10;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin-bottom: 50px;
}

.days-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.clickable {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border: 1px solid purple;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gold;
    background-color: rgb(33, 175, 231, 0.1);
    cursor: pointer;
}

.clickable:hover {
    background-color: rgb(245, 6, 6, 0.1);
}